{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      },
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "@emotion",
    "simple-import-sort"
  ],
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-console": "warn",
    "no-var": "error",
    "semi": [
      "error",
      "never"
    ],
    "key-spacing": [
      "error",
      {
        "align": {
          "beforeColon": true,
          "afterColon": true,
          "on": "colon",
          "mode": "minimum"
        },
        "singleLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": false,
          "afterColon": true,
          "mode": "minimum"
        }
      }
    ],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "no-extra-parens": "off",
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "no-nested-ternary": "off",
    "space-before-function-paren": "off",
    "no-underscore-dangle": "off",
    "max-len": [
      "error",
      {
        "code": 90
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": false,
        "avoidExplicitReturnArrows": false
      }
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        },
        "ObjectPattern": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        },
        "ImportDeclaration": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        },
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        }
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "default-case": "off",
    "valid-typeof": [
      "error",
      {
        "requireStringLiterals": false
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "nonblock-statement-body-position": [
      "error",
      "beside"
    ],
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true,
        "minKeys": 2
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false
      }
    ],
    "array-element-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 2
      }
    ],
    "array-bracket-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 2
      }
    ],
    "no-void": "off",
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "import/order": "error",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "hrefLeft",
          "hrefRight",
          "to"
        ],
        "aspects": [
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "controlComponents": [
          "FastField",
          "Field"
        ]
      }
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "always",
        "children": true,
        "allowMultiline": true,
        "spacing": {
          "objectLiterals": "never"
        }
      }
    ],
    "react/jsx-curly-newline": [
      "error",
      {
        "multiline": "require",
        "singleline": "forbid"
      }
    ],
    "react/forbid-prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-max-props-per-line": [
      "error",
      {
        "when": "always",
        "maximum": 1
      }
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-variables",
          "static-methods",
          "instance-variables",
          "instance-methods",
          "lifecycle",
          "getters",
          "setters",
          "/^handle.+$/",
          "everything-else",
          "rendering"
        ],
        "groups": {
          "rendering": [
            "/^render.+$/",
            "render"
          ]
        }
      }
    ],
    "react/jsx-sort-default-props": [
      "error",
      {
        "ignoreCase": true
      }
    ],
    "react/sort-prop-types": [
      "error",
      {
        "callbacksLast": true,
        "ignoreCase": true,
        "requiredFirst": true,
        "sortShapeProp": true
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "ignoreCase": true,
        "shorthandFirst": true,
        "reservedFirst": [
          "key",
          "ref"
        ]
      }
    ],
    "react/display-name": "off",
    "react/button-has-type": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/semi": [
      "error",
      "never"
    ],
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": {
          "let": 2,
          "const": 3
        },
        "MemberExpression": 1,
        "flatTernaryExpressions": true
      }
    ],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      "always"
    ],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": [
      "off",
      {
        "fixToUnknown": true,
        "ignoreRestArgs": true
      }
    ],
    "@typescript-eslint/no-extra-parens": [
      "error",
      "all",
      {
        "enforceForArrowConditionals": false,
        "nestedBinaryExpressions": false,
        "ignoreJSX": "multi-line"
      }
    ],
    "@typescript-eslint/no-empty-function": [
      "error",
      {
        "allow": [
          "private-constructors",
          "protected-constructors"
        ]
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/accessible-emoji": "off",
    "react/prop-types": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^\\u0000"
          ],
          [
            "^@?\\w"
          ],
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$"
          ],
          [
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "@emotion/import-from-emotion": "error",
    "@emotion/jsx-import": "error",
    "@emotion/no-vanilla": "error",
    "@emotion/syntax-preference": [
      "error",
      "string"
    ],
    "@emotion/styled-import": "error"
  }
}
